<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.soft.dao.GarbageTypeMapper" >
  <resultMap id="BaseResultMap" type="com.soft.model.GarbageType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="garbageTypeName" property="garbagetypename" jdbcType="VARCHAR" />
    <result column="garbageTip" property="garbagetip" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, garbageTypeName, garbageTip
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.soft.model.GarbageTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from garbageType
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from garbageType
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from garbageType
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.soft.model.GarbageTypeExample" >
    delete from garbageType
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.soft.model.GarbageType" >
    insert into garbageType (id, garbageTypeName, garbageTip
      )
    values (#{id,jdbcType=INTEGER}, #{garbagetypename,jdbcType=VARCHAR}, #{garbagetip,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.soft.model.GarbageType" >
    insert into garbageType
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="garbagetypename != null" >
        garbageTypeName,
      </if>
      <if test="garbagetip != null" >
        garbageTip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="garbagetypename != null" >
        #{garbagetypename,jdbcType=VARCHAR},
      </if>
      <if test="garbagetip != null" >
        #{garbagetip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.soft.model.GarbageTypeExample" resultType="java.lang.Integer" >
    select count(*) from garbageType
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update garbageType
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.garbagetypename != null" >
        garbageTypeName = #{record.garbagetypename,jdbcType=VARCHAR},
      </if>
      <if test="record.garbagetip != null" >
        garbageTip = #{record.garbagetip,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update garbageType
    set id = #{record.id,jdbcType=INTEGER},
      garbageTypeName = #{record.garbagetypename,jdbcType=VARCHAR},
      garbageTip = #{record.garbagetip,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.soft.model.GarbageType" >
    update garbageType
    <set >
      <if test="garbagetypename != null" >
        garbageTypeName = #{garbagetypename,jdbcType=VARCHAR},
      </if>
      <if test="garbagetip != null" >
        garbageTip = #{garbagetip,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.soft.model.GarbageType" >
    update garbageType
    set garbageTypeName = #{garbagetypename,jdbcType=VARCHAR},
      garbageTip = #{garbagetip,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>